@using MR.LogicaNegocio.Dtos
@model List<CitasDto>

@{
    ViewData["Title"] = "Listado de Citas";
}

<h2 class="text-center fw-bold mb-4">Listado de Citas</h2>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Detalle</th>
            <th>Fecha y Hora</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Estado</th>
            <th>Usuario</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in Model)
        {
            <tr>
                <td>@cita.IdCita</td>
                <td>@cita.Detalle</td>
                <td>@cita.Fecha.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@cita.Modelo</td>
                <td>@cita.Placa</td>
                <td>
                    @(cita.Estado == 0 ? "Pendiente" :
                    cita.Estado == 1 ? "Revision" :
                    cita.Estado == 2 ? "Finalizada" : "Desconocido")
                </td>
                <td>@cita.IdUsuario</td>
                <td class="text-center">
                    <a asp-controller="Citas" asp-action="Edit" asp-route-id="@cita.IdCita" class="btn btn-sm btn-warning">Editar</a>
                    
                    <a asp-controller="Citas" asp-action="Delete" asp-route-id="@cita.IdCita" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Citas" asp-action="Create" class="btn btn-success fw-bold">Nueva Cita</a>